.App {
    text-align: center;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  

/* Style for your main container to center its content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Takes the full height of its parent */
}

/* Some basic styling for your button and text for aesthetics */
.BtnRecord {
    padding: 30px 60px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #296bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size:30px;
}

.BtnRecord:hover {
    background-color: #4714ffe2;
}

.AnswerText {
    font-size: 100px;
}
